<%- include('partials/header') -%>
<Section class="resources">
    <h1>LIST OF TEACHING RESOURCES </h1>
    <div class="list-group">
        <a href="https://www.canva.com/education/" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Canva</h5>
          </div>
          <p class="mb-1">A simple to use design website for graphics, presentations, etc.</p>  
        </a>
        <a href="https://classroom.google.com/u/1/h" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Google Classroom</h5>
            </div>
            <p class="mb-1">A digital classroom and workspace utilizing the Google conglomerate.</p>  
          </a>
          <a href="https://www.teacherspayteachers.com/" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Teachers Pay Teachers</h5>
            </div>
            <p class="mb-1">A shared teachiung resources site for lesson plans, worksheets, and other educational materialks. For teachers, by teachers.</p>  
          </a>
          <a href="https://www.youtube.com/education" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">YouTube Education</h5>
            </div>
            <p class="mb-1">A YouTube channel dedicated to learning. Also recommends education content specifically for you.</p>  
          </a>
          <a href="https://classflow.com/" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">ClassFlow</h5>
            </div>
            <p class="mb-1">A cloud-based lesson delivery software. Used by both teachers and students, ClassFlow can deliver engaging lessons and assessments, from an internet connected device.</p>  
          </a>
          <a href="https://www.imaginelearning.com/en/us/products/imagine-edgenuity" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Edgenuity</h5>
            </div>
            <p class="mb-1">A leading provider of K–12 online curriculum and blended learning solutions. </p>  
          </a>
          <a href="https://www.mobymax.com/" class="list-group-item list-group-item-action" aria-current="true" target="_blank">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">MobyMax</h5>
            </div>
            <p class="mb-1">A digital learning platform to help close learning gaps in students.</p>  
          </a>
      </div>
</Section>
<%- include('partials/footer') -%>